<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
      <h1 class="text-center">My weight tracker</h1>
      <div class="small-container">
        <%= render "form" %>
      </div>
      <div class="small-container">
        <div class="weight-history">
          <h3>Weight History</h3>
          <table class="table">
            <thead>
              <tr>
                <td>Date</td>
                <td>Weight (lbs)</td>
                <td>Delete</td>
              </tr>
            </thead>
            <% Entry.all.each do |entry| %>
            <tbody>
              <tr>
                <td><%= entry.date %></td>
                <td><%= entry.weight %></td>
                <td class="text-center">
                <%= link_to entry_path(entry[:id]), method: :delete do %>
                <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %>

                </td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

