// for registrations#new

// .banner {
//   background-repeat: no-repeat;
//   background-position-x: center;
// }


.wrapper {
  height: 100%;
  width: 100%;
}
.banner {
  // color: #F7F3F3;
  // text-align: center;
  // display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
}
