// for registrations#new

// .banner {
//   background-repeat: no-repeat;
//   background-position-x: center;
// }


// .wrapper {
//   height: 100%;
//   width: 100%;
// }
.banner {
  padding-top: 50px;
  font-weight: lighter;
  height: 100vh;
  background-size: cover;
  // display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

form {
  label {
    font-weight: lighter;
  }
  .help-block {
    color: white;
    font-size: 12px;
  }
}
