// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.small-container {
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
  background-color: #B1CEFF;
}
