// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.entries-wrapper {
  background-color: #92949B;
  height: 100%;
  padding: 30px;
}

.small-container {
  padding: 20px;
  margin: 30px;
  border-radius: 4px;
  background-color: #414953;
  color: white;
  border: solid 3px #575B78;
  font-weight: lighter;
}

.weight-history > h3 {
  font-weight: lighter;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
